Repository TheoBerglin/TutorialGIT, pull requests merged in 2019-02, with the labels that each got.

#12 10 triangles calculation
  graph/_tests/test_triangles.m
  graph/triangles.m
Labels: enhancement

#29 6 radius
  graph/_tests/test_radius.m
  graph/radius.m
Labels: enhancement

#28 14 path length
  graph/_tests/test_pathlength.m
  graph/_tests/test_pathlength_in.m
  graph/_tests/test_pathlength_out.m
  graph/pathlength.m
  graph/pathlength_in.m
  graph/pathlength_out.m
Labels: enhancement

#24 21 get graph type
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: bug, enhancement

#30 27 triangulation normalize weight
  graph/normalize_matrix.m
  graph/triangles.m
Labels: bug

#38 7 diameter
  graph/_tests/test_diameter.m
  graph/diameter.m
Labels: enhancement

#39 15 closeness
  graph/_tests/test_closeness.m
  graph/_tests/test_closeness_in.m
  graph/_tests/test_closeness_out.m
  graph/closeness.m
  graph/closeness_in.m
  graph/closeness_out.m
Labels: enhancement

#40 31 global efficiency
  graph/_tests/test_global_efficiency.m
  graph/_tests/test_global_efficiency_in.m
  graph/_tests/test_global_efficiency_out.m
  graph/global_efficiency.m
  graph/global_efficiency_in.m
  graph/global_efficiency_out.m
Labels: enhancement

#49 Fixed triangle bug and test file
  graph/_tests/test_triangles.m
  graph/triangles.m
Labels: bug

#46 26 clustering coefficient
  graph/_tests/test_clustering_global.m
  graph/_tests/test_clustering_nodal.m
  graph/clustering_global.m
  graph/clustering_nodal.m
Labels: enhancement

#53 50 a6 test
  graph/_tests/test_clustering_global.m
  graph/_tests/test_clustering_nodal.m
  graph/_tests/test_triangles.m
Labels: bug

#55 54 excel file
  Measure_status.xlsx
Labels: Extra

#65 34 assortative calculations
  graph/_tests/test_assortativity_in_in.m
  graph/_tests/test_assortativity_in_out.m
  graph/_tests/test_assortativity_out_in.m
  graph/_tests/test_assortativity_out_out.m
  graph/assortativity_in_in.m
  graph/assortativity_in_out.m
  graph/assortativity_out_in.m
  graph/assortativity_out_out.m
  graph/pearson_correlation.m
Labels: enhancement

#66 20 typecheck graph
  graph/Graph.m
  graph/_tests/test_type_check.m
Labels: enhancement

#67 Done
  graph/_tests/test_density.m
  graph/density.m
Labels: enhancement

#52 32 local efficiency
  graph/_tests/test_local_efficiency_graph.m
  graph/_tests/test_local_efficiency_nodal.m
  graph/_tests/test_subgraph.m
  graph/local_efficiency_graph.m
  graph/local_efficiency_nodal.m
  graph/subgraph.m
Labels: enhancement

#83 73 restructure tests
  graph/_tests/execute_measure_test.m
  graph/_tests/main_graph_test.m
  graph/_tests/ni_execute_graph_test.m
  graph/_tests/not_implemented_test_type_check.m
  graph/_tests/test_assortativity_in_in.m
  graph/_tests/test_assortativity_in_out.m
  graph/_tests/test_assortativity_out_in.m
  graph/_tests/test_assortativity_out_out.m
  graph/_tests/test_closeness.m
  graph/_tests/test_closeness_in.m
  graph/_tests/test_closeness_out.m
  graph/_tests/test_clustering_global.m
  graph/_tests/test_clustering_nodal.m
  graph/_tests/test_degree.m
  graph/_tests/test_degree_in.m
  graph/_tests/test_degree_out.m
  graph/_tests/test_density.m
  graph/_tests/test_diameter.m
  graph/_tests/test_diameter_in.m
  graph/_tests/test_diameter_out.m
  graph/_tests/test_distance.m
  graph/_tests/test_eccentricity.m
  graph/_tests/test_eccentricity_in.m
  graph/_tests/test_eccentricity_out.m
  graph/_tests/test_global_efficiency.m
  graph/_tests/test_global_efficiency_in.m
  graph/_tests/test_global_efficiency_out.m
  graph/_tests/test_pathlength.m
  graph/_tests/test_pathlength_in.m
  graph/_tests/test_pathlength_out.m
  graph/_tests/test_radius.m
  graph/_tests/test_radius_in.m
  graph/_tests/test_radius_out.m
  graph/_tests/test_strength.m
  graph/_tests/test_strength_in.m
  graph/_tests/test_strength_out.m
  graph/_tests/test_triangles.m
Labels: Graph, Measures, enhancement

#82 Structure class
  graph/Structure.m
Labels: Graph, Measures

#84 68 graph properties
  graph/Graph.m
  graph/_tests/ni_execute_graph_test.m
Labels: Graph, Rewrite

#86 75 cs getter
  graph/Graph.m
  graph/Structure.m
Labels: Graph, enhancement

#85 63 z score
  graph/_tests/test_zscore.m
  graph/_tests/test_zscore_in.m
  graph/_tests/test_zscore_out.m
  graph/zscore.m
  graph/zscore_in.m
  graph/zscore_out.m
Labels: Measures, enhancement

#87 80 calculate structure
  graph/Graph.m
Labels: Graph, Rewrite

#88 70 rewrite measure
  graph/Graph.m
  graph/GraphBU.m
  graph/GraphWU.m
  graph/_tests/execute_graph_test.m
  graph/calculate_average.m
Labels: Graph, enhancement

#90 Removed modularity method
  graph/Graph.m
Labels: Graph, Removal

#92 91 remove measure
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphWD.m
Labels: Graph, Removal

#93 89 Graph test bug
  graph/_tests/execute_graph_test.m
  graph/_tests/test_strength.m
  graph/_tests/test_strength_in.m
  graph/_tests/test_strength_out.m
Labels: Graph, bug

#94 78 - binary constructor check
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
Labels: Graph, enhancement

#98 79 negative constructor check
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: Graph, enhancement

#51 36 transitivity calculations
  graph/_tests/test_transitivity.m
  graph/transitivity.m
Labels: enhancement

#101 58 update tests
  graph/_tests/old/test_local_efficiency_graph.m
  graph/_tests/old/test_local_efficiency_nodal.m
  graph/_tests/old/test_transitivity.m
  graph/_tests/spec_test_subgraph.m
  graph/_tests/spec_test_type_check.m
  graph/_tests/test_local_efficiency_graph.m
  graph/_tests/test_local_efficiency_nodal.m
  graph/_tests/test_transitivity.m
Labels: Measures, Rewrite

#100 69 clean up
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: Graph, Measures, Removal

#107 76 symmetric check
  graph/Graph.m
  graph/GraphBU.m
  graph/GraphWU.m
Labels: Graph, Rewrite

#109 103 readability
  graph/Graph.m
Labels: Rewrite, enhancement

#108 104 glob loc efficiency
  graph/Graph.m
  graph/global_efficiency_in.m
  graph/global_efficiency_out.m
  graph/local_efficiency.m
  graph/local_efficiency_graph.m
Labels: Graph, Measures, Rewrite

#113 112-density-bug
  graph/Graph.m
Labels: Graph, bug

#118 117 removal
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: Removal

#119 96 static methods
  graph/Graph.m
Labels: Graph, Removal, Rewrite

#110 Constants revised
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: Graph, Removal

#41 33 betweenness calculations
  graph/measures/_tests/test_betweenness.m
  graph/measures/betweenness.m
Labels: enhancement

#122 106 graph comments
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: Graph, Rewrite

#123 Changed inheritance and constructor
  graph/GraphBU.m
  graph/GraphWU.m
Labels: Graph, Rewrite

#127 125 measurelist
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphBU.m
  graph/GraphWD.m
  graph/GraphWU.m
Labels: Graph, Rewrite, bug

#126 124 test of graph
  graph/_tests/main_graph_object_test.m
  graph/_tests/test_binarize.m
  graph/_tests/test_positivize.m
  graph/_tests/test_symmetrize.m
  graph/measures/_tests/execute_graph_measure_test.m
Labels: Graph, enhancement

#135 Hf test issue
  graph/measures/_tests/main_measure_test.m
  graph/measures/_tests/old/test_closeness.m
  graph/measures/_tests/old/test_closeness_in.m
  graph/measures/_tests/old/test_closeness_out.m
  graph/measures/_tests/old/test_clustering_global.m
  graph/measures/_tests/old/test_clustering_nodal.m
  graph/measures/_tests/old/test_degree.m
  graph/measures/_tests/old/test_degree_in.m
  graph/measures/_tests/old/test_degree_out.m
  graph/measures/_tests/old/test_diameter.m
  graph/measures/_tests/old/test_distance.m
  graph/measures/_tests/old/test_eccentricity.m
  graph/measures/_tests/old/test_eccentricity_in.m
  graph/measures/_tests/old/test_eccentricity_out.m
  graph/measures/_tests/old/test_global_efficiency.m
  graph/measures/_tests/old/test_global_efficiency_in.m
  graph/measures/_tests/old/test_global_efficiency_out.m
  graph/measures/_tests/old/test_local_efficiency_graph.m
  graph/measures/_tests/old/test_local_efficiency_nodal.m
  graph/measures/_tests/old/test_pathlength.m
  graph/measures/_tests/old/test_pathlength_in.m
  graph/measures/_tests/old/test_pathlength_out.m
  graph/measures/_tests/old/test_radius.m
  graph/measures/_tests/old/test_strength.m
  graph/measures/_tests/old/test_strength_in.m
  graph/measures/_tests/old/test_strength_out.m
  graph/measures/_tests/old/test_transitivity.m
  graph/measures/_tests/old/test_triangles.m
  graph/measures/_tests/old/test_type_check.m
  graph/measures/_tests/subdir.m
Labels: Graph, Measures, bug

#137 Removed local efficiency in/out from constants
  graph/Graph.m
  graph/GraphBD.m
  graph/GraphWD.m
Labels: Graph, Removal
